<div ng-class="{'typeahead': !relaxed, 'typeahead-relaxed': relaxed}">
  <form ng-class="{'typeahead-textbox-position': !relaxed, 'typeahead-textbox-position-relaxed': relaxed}">
    <input ng-class="{'typeahead-textbox': !relaxed, 'typeahead-textbox-relaxed': relaxed, 'typeahead-textbox-disabled': disabled}"
           type="text" autocomplete="off"
           ng-model="vm.selectedText"
           placeholder="{{ placeholder }}"
           ng-keydown="vm.unSelect()"
           ng-disabled="disabled">
  </form>

  <div ng-class="{'typeahead-option-position': !relaxed, 'typeahead-option-position-relaxed': relaxed}">
    <div class="typeahead-options"
         ng-hide="!vm.selectedText.length || vm.selected">

      <ul class="typeahead-option"
          ng-repeat="option in filteredOptions = (options | filter:{name: vm.selectedText})"
          ng-click="vm.handleSelection(option)">
        <li class="typeahead-option-text">{{option.name}}</li>
      </ul>

      <div class="typeahead-option"
           ng-show="!filteredOptions.length"
           ng-click="vm.onNoOptions()">
        {{ noOptions }}
      </div>

    </div>
  </div>

</div>
