* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow-x: scroll;
    background-color: #fafafa;
    height: 100%;
}

li {
    display: list-item;
}

.header {
    width: 100%;
    text-align: center;
    display: table;
    font-family: garamond;
    height: 4em;
}

.header-text {
    color: #ffffff;
    display: table-cell;
    font-size: 3em;
    background-color: #d9001f;
}

@media only screen and (max-width: 900px) {
    .menu-button {
        height: 4em;
        width: 75px;
        background-color: #d9001f;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-bars {
        background-color: #d9001f;
        padding: 7.5px 0px;
    }

    .menu-bar {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 7.5px 20px;
    }

    .menu-bars:hover {
        background-color: #8d0014;
    }

    .hide-menu {
        display: none;
    }

    .menu {
        height: 100%;
        width: 75%;
        float: right;
        background-color: #f2f2f2;
        z-index: 1;
    }

    .typeahead-options {
        width: 44%;
    }

}


.page {
    top: 4em;
}

@media only screen and (min-width: 900px) {
    .menu-button, menu-bars, menu-bar {
        display: none
    }

    .hide-menu {
        display: block;
    }

    .menu {
        height: 100%;
        width: 200px;
        float: left;
        background-color: #f2f2f2;
    }

    .typeahead-options {
        width: calc(45% - 100px);
    }
}

.menu-item {
    height: 2em;
    font-weight: 700;
    font-size: 1em;
    color: #5a5a5a;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    display: block;
    cursor: pointer;
    padding: 1em 1em;
}

.menu-color {
    background-color: #f2f2f2;
}

.menu-item:hover {
    background-color: #dddddd;
}

.typeahead {
    height: initial;
    width: 50%;
    margin: 0 auto;
}

.typeahead-textbox-position {
    width: 100%;
    height: initial;
    margin: 0 auto;
}

.typeahead-textbox {
    width: 90%;
    border: 2px solid #990017;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    display: inline-block;
}

.typeahead-option-position {
    width: 90%;
    margin: 0 20px;
}

.typeahead-options {
    border-bottom: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    position: fixed;
    height: initial;
    margin 0 auto;
    margin-left: 5px;
}

.typeahead-option {
    height: 1.5em;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #5a5a5a;
    border-top: 2px solid #cccccc;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
}

.typeahead-option-text {
    background-color: inherit;
    color: inherit;
}

.typeahead-option:hover {
    background-color: #990017;
    color: #ffffff;
}
