* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

li {
    display: list-item;
}

.header {
    width: 100%;
    text-align: center;
    display: table;
    font-family: garamond;
    height: 4em;
}

.header-text {
    color: #ffffff;
    display: table-cell;
    font-size: 3em;
    background-color: #d9001f;
}

body {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 900px) {
    .page {
        width: 100%;
    }

    .menu-button {
        height: 4em;
        width: 75px;
        background-color: #d9001f;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-bars {
        background-color: #d9001f;
        padding: 7.5px 0px;
    }

    .menu-bar {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 7.5px 20px;
    }

    .menu-bars:hover {
        background-color: #8d0014;
    }

    .show-menu {
        z-index: 99;
        position: absolute;
        right: 0;
        width: 75%;
    }

    .hide-menu {
        display: none;
    }

    .menu {
        height: 100%;
        width: 100%;
        background-color: #f2f2f2;
    }

    .typeahead-options {
        width: 44%;
    }

}

.page-with-menu {
    top: 4em;
}

.page {
    background-color: #fafafa;
    height: 100%;
    position: relative;
}

@media only screen and (min-width: 900px) {
    .page {
        width: calc(100% - 200px);
        float: right;
    }

    .menu-button, menu-bars, menu-bar {
        display: none
    }

    .menu {
        height: 100%;
        width: 200px;
        float: left;
        background-color: #f2f2f2;
    }

    .typeahead-options {
        width: calc(45% - 100px);
    }
}

.menu-item {
    height: 2em;
    font-weight: 700;
    font-size: 1em;
    color: #5a5a5a;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    display: block;
    cursor: pointer;
    padding: 1em 1em;
}

.menu-color {
    background-color: #f2f2f2;
}

.menu-selected {
    background-color: #dedede;
}

.menu-item:hover {
    background-color: #dddddd;
}

.typeahead {
    height: initial;
    width: 50%;
    margin: 0 auto;
}

.typeahead-relaxed {
    width: 100%;
}

.typeahead-textbox-position {
    width: 100%;
    height: initial;
    margin: 0 auto;
}

.typeahead-textbox-position-relaxed {
    width: 100%;
}

.typeahead-textbox {
    width: 100%;
    border: 2px solid #990017;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    display: inline-block;
}

.typeahead-textbox-relaxed {
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    margin: 0 5px;
    padding: 0 10px;
    height: 2em;
    font-size: 0.75em;
}

.typeahead-textbox-disabled {
    background-color: #dedede;
}

.typeahead-option-position {
    width: 90%;
    margin: 0 20px;
}

.typeahead-option-position-relaxed {
    width: 90%;
    margin: 0 0px;
}

.typeahead-options {
    border-bottom: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    position: absolute;
    height: initial;
    margin: 0 auto;
    margin-left: 5px;
    text-decoration: none;
    z-index: 100;
}

.typeahead-option {
    width: calc(100% - 20px);
    padding: 10px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #5a5a5a;
    border-top: 2px solid #cccccc;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    list-style: none;
}

.typeahead-option-text {
    background-color: inherit;
    color: inherit;
}

.typeahead-option:hover {
    background-color: #990017;
    color: #ffffff;
}

.map {
    height: 400px;
    width: 60%;
    margin: 20px auto;
}

.check-in-out-button {
    height: 2em;
    width: 60%;
    margin: 20px auto;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;

    text-align: center;
    padding: 15px 10px 0px 10px;
    font-size: 1.5em;

}

.check-in-out-button-disabled {
    background-color: #888888;
    color: #dedede;
    cursor: default;
}

.check-in-out-button-enabled {
    background-color: #990017;
    cursor: pointer;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;
}

.manage-tabs {
    width: 100%;
    overflow-x: hidden;
    background-color: #990017;
}

.manage-tab {
    width: 25%;
    float: left;
    height: 2em;
    font-size; 1em;
    color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    display: block;
    cursor: pointer;
    overflow-x: hidden;
    text-align: center;
    padding-top: 10px;
    background-color: inherit;
}

.manage-tab-selected, .manage-tab:hover {
    color: #990017;
    background-color: #fafafa;
}

.excel-button-position {
    width: 100%;
    height: 4em;
}

.excel-button {
    width: 25%;
    float: right;
    margin: 10px;
    color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    background-color: #990017;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    text-align: center;
}

.file-selector {
    display: none;
}

.community-partner {
    width: 85%;
    margin: 10px auto;
}

.partner-title {
    width: 100%;
    height: 1em;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    padding: 10px 10px;
    background-color: #f2f2f2;
}

.partner-title:hover, .partner-selected {
    background-color: #990017;
    color: #ffffff;
    cursor: pointer;
}

.arrow-down {
    float: right;
    margin-top: -1.5em;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.partner-element {
    margin: 10px 0px;
}

.partner-info {
    width: 100%;
    padding: 20px 0px 20px 20px;
    background-color: #f2f2f2;
}

.partner-header {
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    font-size: 0.75em;
    margin: 5px;
}

.partner-label {
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    font-size: 0.75em;
    margin: 0.5em;
}

.partner-input {
    overflow: hidden;
    display: block;
    padding: 0 4px 0 10px
}

.partner-checkbox {
    font-size: 0.5em;
    margin-top: 0.9em;
}

.partner-text {
    width: 90%;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    background-color: #ffffff;
    padding: 0 10px;
    height: 2em;
    font-size: 0.75em;
    margin: 0 5px;
}

.partner-location, .partner-contact {
    width: 100%;
    margin: 10px;
}

.delete-element {
    width: 15%;
    background-color: #990017;
    color: #ffffff;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    padding: 5px;
    text-align: center;
    float: right;
    margin-top: -2em;
    margin-right: 10%;
}

.delete-peer-leader {
    width: 15%;
    background-color: #990017;
    color: #ffffff;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    margin-left: 77%;
}

.element-divider {
    width: 90%;
    height: 0;
    border-bottom: 1px solid #cccccc;
}

.element-buttons {
    padding: 0px 0px 20px 0px;
}

.element-button {
    width: 45%;
    background-color: #990017;
    color: #ffffff;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    padding: 5px;
    text-align: center;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.add-button-position {
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
}

.add-button-internal-position {
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
}

.add-button {
    width: 1em;
    background-color: #990017;
    color: #ffffff;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    padding: 0px 5px 5px 5px;
    text-align: center;
}

.log-labels {
    width: 100%;
    overflow-x: hidden;
    background-color: #fafafa;
}

.log-label {
    float: left;
    height: 2em;
    font-size; 1em;
    color: #990017;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    display: block;
    overflow-x: hidden;
    text-align: center;
    padding-top: 10px;
    background-color: inherit;
}

.tiny-label {
    width: 10%;
}

.small-label {
    width: 18%;
}

.medium-label {
    width: 25%;
}

.large-label {
    width: 35%;
}

.tiny-input {
    width: calc(10% - 15px);
    float: left;
    height: 2em;
    margin-right: 15px;
}

.small-input {
    width: calc(18% - 15px);
    float: left;
    height: 2em;
    margin-right: 15px;
}

.typeahead-margin {
    width: calc(100% - 15px);
}

.date-input {
    width: calc(18% - 34px);
    padding: 0 10px;
    border-width: 2px;
    font-size: 0.75em;
    margin: 0 5px;
}

.date-input-enabled {
     background-color: #ffffff;
}

.date-input-disabled {
     background-color: #dedede;
}

.huge-input {
    width: calc(100% - 34px);
    padding: 0 10px;
    border-width: 2px;
    font-size: 0.75em;
    margin: 5px 5px;
    background-color: #ffffff;
}

.input-divider {
    width: calc(100% - 10px);
    height: 0;
    margin: 5px 5px;
    border-bottom: 1px solid #cccccc;
}

.delete-activity {
    width: 15%;
    background-color: #990017;
    color: #ffffff;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    text-align: center;
    margin-left: calc(85% - 15px);
    padding: 5px;
}

.activity-add-position {
     float: right;
     margin-bottom: 10px;
     margin-right: 5px;
}

.activity-save-position {
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
}

.save-activity-button {
    width: 75px;
    background-color: #990017;
    color: #ffffff;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
    padding: 5px;
    text-align: center;
}

.manage-typeahead {
    width: 90%;
}