<aces-header show-menu="vm.showMenu"></aces-header>
<div class="page-with-menu">
  <aces-menu auth-role="vm.currentUser.auth_role"
             page-name="Civic Log"
             ng-class="{'hide-menu': !vm.showMenu, 'show-menu': vm.showMenu}"></aces-menu>
  <div class="page">
    <div class="log-labels">
      <div class="tiny-label log-label">
        Type
      </div>
      <div class="small-label log-label">
        Partner/Category
      </div>
      <div class="small-label log-label">
        Location
      </div>
      <div class="small-label log-label">
        Contact
      </div>
      <div class="small-label log-label">
        Check In
      </div>
      <div class="small-label log-label">
        Check Out
      </div>
    </div>

    <ul class="log-labels" ng-repeat="(id, activity) in vm.currentUser.activities">
      <div class="tiny-input">
        <div class="typeahead-margin">
          <aces-typeahead options="vm.activityTypes"
                          selected-text="{{ activity.activity_type }}"
                          on-select="vm.selectActivityType(selectedItem, activity)"
                          un-select="vm.unSelectActivityType(activity)"
                          on-no-options="vm.noop()"
                          no-options="'No activity type match your search'"
                          placeholder="'Activity Type'"
                          relaxed="true"></aces-typeahead>
        </div>
      </div>


      <div class="small-input">
        <div class="typeahead-margin">
        <aces-typeahead options="activity.descriptionOptions"
                        selected-text="{{ vm.getDescriptionName(activity) }}"
                        on-select="vm.selectDescription(selectedItem, activity)"
                        un-select="vm.unSelectDescription(activity)"
                        on-no-options="vm.noop()"
                        no-options="activity.descriptionNoOptions"
                        placeholder="activity.descriptionPlaceholder"
                        relaxed="true"></aces-typeahead>
          </div>
      </div>

      <div class="small-input">
        <div class="typeahead-margin">
        <aces-typeahead options="activity.locations"
                        selected-text="{{ vm.getLocationName(activity) }}"
                        on-select="vm.selectLocation(selectedItem, activity)"
                        un-select="vm.unSelectLocation(activity)"
                        on-no-options="vm.noop()"
                        no-options="'No locations match your search'"
                        placeholder="'Location'"
                        relaxed="true"
                        disabled="activity.activity_type != 'Partner' || !activity.partner"></aces-typeahead>
          </div>
      </div>

      <div class="small-input">
        <div class="typeahead-margin">
        <aces-typeahead options="activity.contacts"
                        selected-text="{{ vm.getContactName(activity) }}"
                        on-select="vm.selectContact(selectedItem, activity)"
                        un-select="vm.unSelectContact(activity)"
                        on-no-options="vm.noop()"
                        no-options="'No contacts match your search'"
                        placeholder="'Contact'"
                        relaxed="true"
                        disabled="activity.activity_type != 'Partner' || !activity.partner"></aces-typeahead>
          </div>
      </div>

      <input class="date-input log-label date-input-enabled" type="datetime-local" ng-model="activity.startDate"
             ng-change="vm.updateEndDate(activity)">
      <input class="date-input log-label" type="datetime-local" ng-model="activity.endDate"
             ng-disabled="{{ activity.activity_type != 'Partner' }}"
             ng-class="{'date-input-disabled': activity.activity_type != 'Partner', 'date-input-enabled': activity.activity_type === 'Partner'}">

      <input class="huge-input" type="text" ng-model="activity.comment" placeholder="Comment">

      <div class="delete-activity" ng-click="vm.deleteActivity(id)">Delete</div>

      <div class="input-divider"></div>
    </ul>

    <div class="activity-add-position">
      <div class="add-button" ng-click="vm.addActivity()"> + </div>
    </div>

    <div class="activity-save-position">
      <div class="save-activity-button" ng-click="vm.saveActivities()"> Save </div>
    </div>

  </div>
</div>





