# Mongo Database URL
MONGO_DB_URL = ''

# Mongo Database name
MONGO_DB_NAME = ''

# Peerflix server local/public url
PEERFLIX_SERVER = ''

# Youtube channel which video will stream at
YT_CHANNEL = ''

# Key for Youtube livestream upload
YT_LIVESTREAM_KEY = ''

# Token to authenticate Slack webhook
SLACK_TOKEN = ''
