# Peerflix server local/public url
PEERFLIX_SERVER = ''

# Youtube channel which video will stream at
YT_CHANNEL = ''

# Key for Youtube livestream upload
YT_LIVESTREAM_KEY = ''

# Token to authenticate Slack webhook
SLACK_TOKEN = ''

# Google API 
GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
GOOGLE_REDIRECT_URI = '/oauth2callback'

# flask app
APP_SECRET_KEY = 'secret'
APP_DEBUG = True