<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Responsive website for managing students in NU ACES">
    <meta name="google-signin-client_id" content="800747338707-5sq3clj66ltd8fffj3mq487ih3s35gbh.apps.googleusercontent.com">
    <title>NU|ACES</title>
    <link href="/static/login.css" rel="stylesheet">
  </head>

  <body>

    <div class="login">
      <p class="login-header">NU|ACES</p>
      <a class="login-background" href="/api/googleauth">
        <img class="login-button" src="/static/googleSignIn.png" alt="Sign In to Google">
      </a>
    </div>

  </body>
</html>
